
#contenedor button {
    display:block;
    position:relative;
    margin:5px 0;
    padding:10px;
    cursor:pointer;
}

#lienzo {
background:url(../img/fondito1.jpg);
}

#vertical {
    
    
    display:none;
}
@media all and (orientation:portrait){
    #contenedor {
        display:none;
    }
    #vertical {
        display:block;
        position:fixed;
        width:100%;
        height:100vh;
        z-index:1;
        background:url(../img/fondito1.jpg);
        background-size:cover;
        background-position:center;
    }
    
    
    
}