#contenedor button {
    display:block;
    position:relative;
    margin:5px 0;
    padding:10px;
    cursor:pointer;
}
video {
margin: 0 auto;
padding-top:40px;
width:450px
height:250px;s
}

html, body {
	background-color:  #FFA07A;
}
canvas {
	background-color: #000000;
	border: 6px #444444 solid;
	background:url("../img/blanco.jpg");
}
