#contenedor button {
    display:block;
    position:relative;
    margin:5px 0;
    padding:10px;
    cursor:pointer;
}

html, body {
	background-color:#FFA07A;
}
canvas {
	background-color: #000000;
	border: 6px #444444 solid;
	background:url("../img/blanco.jpg");
}