@import url(https://fonts.googleapis.com/css?family=Frijole);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script&display=swap);
@import url(https://fonts.googleapis.com/css?family=Tangerine:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Modak&display=swap);

@font-face {
      font-family: "Fredericka the Great";
      src: url("../font/FrederickatheGreat-Regular.ttf");
  }
